services:
  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open_webui
    depends_on:
      - postgres
      - valkey
    env_file:
      - .env
    environment:
      - OLLAMA_BASE_URL=http://host.docker.internal:11434
      - ENABLE_RAG_WEB_SEARCH="True"
      - RAG_WEB_SEARCH_ENGINE="searxng"
      - RAG_WEB_SEARCH_RESULT_COUNT=3
      - RAG_WEB_SEARCH_CONCURRENT_REQUESTS=10
      - SEARXNG_QUERY_URL=http://searxng:8080/search?q=<query>&format=json
      - ENABLE_WEBSOCKET_SUPPORT="true"
      - WEBSOCKET_MANAGER="valkey"
      - WEBSOCKET_VALKEY_URL="valkey://valkey:6379/1"
    ports:
      - "3000:8080"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - open-webui:/app/backend/data
    restart: unless-stopped

  searxng:
    image: searxng/searxng:latest
    container_name: searxng
    ports:
      - "8080:8080"
    volumes:
      - ./searxng_data:/etc/searxng
    environment:
      - LIMIT_ENGINE_RESULTS=50
      - AUTOCOMPLETE=duckduckgo
      - VALKEY_URL=valkey://valkey:6379/0
      - SEARXNG_VALKEY_URL=valkey://valkey:6379/0
    restart: unless-stopped
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
      - DAC_OVERRIDE
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

  n8n:
    image: docker.n8n.io/n8nio/n8n
    container_name: n8n
    ports:
      - "5678:5678"
    environment:
      - SEARXNG_URL=http://searxng
      - OLLAMA_HOST=http://host.docker.internal:11434
    volumes:
      - n8n_data:/home/node/.n8n
    extra_hosts:
      - "host.docker.internal:host-gateway"

  postgres:
    image: pgvector/pgvector:0.8.1-pg18-trixie
    container_name: postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  valkey:
    image: docker.io/valkey/valkey:9.0.0-alpine3.22
    container_name: valkey
    ports:
      - "6379:6379"
    env_file:
      - .env
    volumes:
      - valkey-data:/data
    command: "valkey-server --save 30 1"
    healthcheck:
      test: "[ $$(valkey-cli ping) = 'PONG' ]"
      start_period: 5s
      interval: 1s
      timeout: 3s
      retries: 5
    restart: unless-stopped
    cap_drop:
      - ALL
    cap_add:
      - SETGID
      - SETUID
      - DAC_OVERRIDE
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

  docling-serve:
    image: ghcr.io/docling-project/docling-serve-cu128:latest
    container_name: docling-serve
    ports:
      - "5001:5001"
    environment:
      DOCLING_SERVE_ENABLE_UI: "true"
      NVIDIA_VISIBLE_DEVICES: "all"
    runtime: nvidia
    restart: always

  memorizer:
    image: petabridge/memorizer:latest
    restart: unless-stopped
    container_name: memorizer
    environment:
      - ConnectionStrings__Storage=Host=postgres;Port=5432;Database=postgmem;Username=postgres;Password=postgres
      - MEMORIZER_Embeddings__ApiUrl=http://host.docker.internal:11434 # http://ollama:11434
      - MEMORIZER_Embeddings__Model=embeddinggemma:300m # all-minilm:33m-l12-v2-fp16
      - MEMORIZER_LLM__ApiUrl=http://host.docker.internal:11434
      - MEMORIZER_LLM__Model=gpt-oss:20b # qwen2:0.5b
      - MEMORIZER_LLM__Timeout=00:02:00
      - MEMORIZER_LLM__Chunking__MinCharactersForChunking=2000
      - MEMORIZER_LLM__Chunking__TargetChunkSize=1500
      - MEMORIZER_Server__CanonicalUrl=http://localhost:5000
    ports:
      - "5000:8080"
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8080/healthz || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 10s
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  open-webui:
  searxng_data:
  n8n_data:
  postgres_data:
  valkey-data:
