services:
  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open_webui
    depends_on:
      - postgres
      - qdrant
      - valkey
    env_file:
      - .env
    environment:
      - OLLAMA_BASE_URL=http://host.docker.internal:11434
      - ENABLE_RAG_WEB_SEARCH="True"
      - RAG_WEB_SEARCH_ENGINE="searxng"
      - RAG_WEB_SEARCH_RESULT_COUNT=3
      - RAG_WEB_SEARCH_CONCURRENT_REQUESTS=10
      - SEARXNG_QUERY_URL=http://searxng:8080/search?q=<query>&format=json
      - QDRANT_URI=http://qdrant:6333
      - QDRANT_API_KEY=
      - VECTOR_DB=qdrant
      - ENABLE_WEBSOCKET_SUPPORT="true"
      - WEBSOCKET_MANAGER="valkey"
      - WEBSOCKET_VALKEY_URL="valkey://valkey:6379/1"
    ports:
      - "3000:8080"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - open-webui:/app/backend/data
    restart: unless-stopped

  searxng:
    image: searxng/searxng:latest
    container_name: searxng
    ports:
      - "8080:8080"
    volumes:
      - ./searxng_data:/etc/searxng
    environment:
      - LIMIT_ENGINE_RESULTS=50
      - AUTOCOMPLETE=duckduckgo
      - VALKEY_URL=valkey://valkey:6379/0
      - SEARXNG_VALKEY_URL=valkey://valkey:6379/0
    restart: unless-stopped
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
      - DAC_OVERRIDE
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

  n8n:
    image: docker.n8n.io/n8nio/n8n
    container_name: n8n
    ports:
      - "5678:5678"
    environment:
      - SEARXNG_URL=http://searxng
      - OLLAMA_HOST=http://host.docker.internal:11434
      - QDRANT_HOST=http://qdrant:6333
    volumes:
      - n8n_data:/home/node/.n8n
    extra_hosts:
      - "host.docker.internal:host-gateway"

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"  # REST API
      - "6334:6334"  # gRPC API
    volumes:
      - ./qdrant_storage:/qdrant/storage
    environment:
      - QDRANT__STORAGE__MEMORY_LIMIT=17179869184  # 16 ГБ
      - QDRANT__TELEMETRY_DISABLED=true
      - QDRANT__LOG_LEVEL=info
    restart: unless-stopped

  postgres:
    container_name: postgres
    build:
      context: ./postgres
      dockerfile: postgres.Dockerfile
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres/vector_extension.sql:/docker-entrypoint-initdb.d/0-vector_extension.sql
    env_file:
      - .env

  valkey:
    image: docker.io/valkey/valkey:8.1.3-alpine3.22
    container_name: valkey
    ports:
      - "6379:6379"
    env_file:
      - .env
    volumes:
      - valkey-data:/data
    command: "valkey-server --save 30 1"
    healthcheck:
      test: "[ $$(valkey-cli ping) = 'PONG' ]"
      start_period: 5s
      interval: 1s
      timeout: 3s
      retries: 5
    restart: unless-stopped
    cap_drop:
      - ALL
    cap_add:
      - SETGID
      - SETUID
      - DAC_OVERRIDE
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

volumes:
  open-webui:
  searxng_data:
  n8n_data:
  postgres_data:
  valkey-data:
